@font-face {
    font-family: LANE;
    src: local("LANE"), url('../fonts/lane/LANENAR_.ttf');
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../images/geometry.png);
  background-color:#464646;
  overflow-x: hidden;
  padding: none;
  margin: none;
}

.navbar-default {
    border: none;
    font-weight: bold;
    background-color: rgba(236,236,236,.4);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-logo {
    margin-top: -32px;
    margin-bottom: 10px;
    max-height: 87px;
    margin-left: -10px;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(129,184,185, 1);
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: rgba(129,184,185, 0.7);
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    /*color: rgb(33, 206, 153)!important;*/
    background-color: rgba(255,255,255,.2);
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color:rgba(255,255,255,.2);
}

@media(min-width:768px) {
    .navbar-default {
        background-color: rgba(236,236,236,.4);
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(129,184,185, 1);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: rgba(129,184,185, 0.7);
    }

    .navbar-default.affix {
        background-color: #fff;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: rgb(129,184,185);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgba(129,184,185, 0.7);
    }
}

.navbar-default .navbar-toggle {
    border: none;
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-toggle:hover:active, .navbar-toggle:hover:focus, .navbar-toggle:visited {
/*    border: none;*/
    background: transparent;
}

section {
  text-align: center;
}

section h2{
  text-align: center;
  font-family: LANE;
  font-size: 3em;
  font-style: italic;
  padding-bottom: 20px;
}

#landingpage {
  height: 100vh;
  position: relative;
}

#title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#title h1 {
  font-size: 5em;
  font-weight: bold;
  color: #797C7F;
  font-family: LANE;
}

#mission {
  padding: 3em;
}

#mission p {
  text-align: left;
  font-size: 1.2em;
  padding: 10px;
  font-family: LANE;
  font-weight: bold;
}

/*#about {
  width: 100%;
  margin-top: 5em;
  text-align: left;
  background-color: rgb(236, 236, 236);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}*/

#cta button {
  background: transparent;
  opacity: 0.8;
  /*border: solid 2px #222;*/
  border-radius: 0px;
  background-color: rgba(129,184,185, 1);
  font-family: LANE;
  letter-spacing: 2px;
  font-size: 1.4em;
}

#cta button:hover {
  background-color: rgba(129,184,185, .7);
}

#cta button a {
  color: #222;
  text-decoration: none;
}


#indexfooter {
  position: absolute;
  top: 97%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media(max-height:620px) {
  #indexfooter {
    display: none;
  }
}

