@font-face {
    font-family: LANE;
    src: local("LANE"), url('../fonts/lane/LANENAR_.ttf');
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../images/geometry.png);
/*  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;*/
  background-color:#464646;
  overflow-x: hidden;
  padding: none;
  margin: none;
}

.navbar-default {
    border: none;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-logo {
    margin-top: -32px;
    margin-bottom: 10px;
    max-height: 87px;
    margin-left: -10px;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: rgb(33, 206, 153);
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    /*color: rgb(33, 206, 153)!important;*/
    background-color: rgba(255,255,255,.2);
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color:rgba(255,255,255,.2);
}

@media(min-width:768px) {
    .navbar-default {
        background-color: rgba(255,255,255,.2);
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #222;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #222;
    }

    .navbar-default.affix {
        background-color: #fff;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgb(33, 206, 153);
    }
}

.navbar-default .navbar-toggle {
    border: none;
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-toggle:hover:active, .navbar-toggle:hover:focus, .navbar-toggle:visited {
/*    border: none;*/
    background: transparent;
}





section {
  text-align: center;
}

section h2{
  text-align: center;
  font-family: LANE;
  font-size: 3em;
  font-style: italic;
  padding-bottom: 20px;
}

#title {
  margin-top: 8%;
  color: #222;
  font-family: LANE;
}


#title h1 {
  font-size: 5em;
  font-weight: bold;
}

#mission {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2em;
}

#mission p {
  text-align: left;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: LANE;
  font-weight: bold;
}

#about {
  width: 100%;
  margin-top: 5em;
  text-align: left;
  background-color: rgb(236, 236, 236);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#cta button {
  background: transparent;
  opacity: 0.8;
  border: solid 2px #222;
  border-radius: 0px;
  background-color: rgb(94, 204, 171);
  font-family: LANE;
  letter-spacing: 2px;
  font-size: 1.4em;
}

#cta button:hover {
  background-color: rgba(94, 204, 171, 0.5);
}

#cta button a {
  color: #222;
  text-decoration: none;
}

.glyphicon-refresh-animate {
      -animation: spin .7s infinite linear;
      -webkit-animation: spin2 .7s infinite linear;
  }
  @-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg);}
      to { -webkit-transform: rotate(360deg);}
  }
  @keyframes spin {
      from { transform: scale(1) rotate(0deg);}
      to { transform: scale(1) rotate(360deg);}
  }


.italic {
  font-style: italic;
  color: rgb(94, 204, 171);
}


footer {
  text-align: center;
  padding-top: 4em;
}



